@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('variables.css');
@import url('./sub/animation.css');
@import url('./sub/buttons.css');
@import url('./sub/forms.css');
@import url('./sub/panels.css');
@import url('./sub/mobile.css');

body,
input {
  font-family: "Poppins", sans-serif;
}
