.hidden {
	display: none;
}

.navbarHead {
	background-color: var(--background);
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 4rem;
	width: 100%;
	border-bottom: 0.5px solid var(--outline);
	padding-left: 0rem;
}

.logo {
	background-color: var(--logo-invert);
	height: 3rem;
	width: auto;
	margin: 0 15rem 0 3rem;
}


.logo:hover {
	cursor: pointer;
}

.search-bar {
	display: flex;
	margin: 0 15rem 0 4rem;
}

.search-input {
	outline: none;
	background: var(--search-background);
	border-radius: 50px 0 0 50px;
	border: 1px solid var(--outline);
	color: var(--textcol);
	height: 3rem;
	width: 17rem;
	text-indent: 20px;
	font-size: 15px;
}

.search-btn {
	position: relative;
	background-color: var(--search-background);
	border: 1px solid var(--outline);
	border-left: none;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	width: 3rem;
	height: 3rem;
}

.search-btn:hover {
	background-color: var(--search-hover);
	cursor: pointer;
}

.search-btn::before {
	content: "";
	height: 70%;
	width: 1px;
	position: absolute;
	right: 100%;
	top: 15%;
	background-color: var(--outline);
}

.search-btn>i {
	color: var(--outline);
}

.nav-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 15rem;
	margin-left: auto;
	padding-right: 1rem;
}

.upload-btn,
.drop-down {
	background-color: transparent;
	border: none;
	color: var(--textcol);
}

.upload-btn:hover,
.drop-down:hover {
	cursor: pointer;
}

.drop-down {
	background-color: transparent;
	border: none;
	position: relative;
}

.drop-down:hover {
	cursor: pointer;
	background-color: var(--shadow);
}

.drop-down ul {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;

}

.drop-down ul li:hover {
	background-color: var(--search-background);
}


.upload-btn {
	color: var(--textcol);
	font-size: 0.9rem;
	font-weight: 600;
}

#login-btn {
	height: 2.3rem;
	width: 6rem;
	color: var(--white);
	background-color: var(--blue);
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 600;
}

#login-btn:hover {
	background-color: var(--hover-blue);
	cursor: pointer;
}


.nav-right #login-btn.hidden {
	display: none;
}

.avatar-container {
	height: 3rem;
	width: auto;
	background-color: transparent;
	border: 1px solid var(--blue);
	border-radius: 50%;
}

.avatar-container {
	cursor: pointer;
}

.avatar-container img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	display: flex;
	flex-direction: row;
}

.menu {
	position: absolute;
	top: 200%;
	right: 0;
	background-color: var(--background);
	width: 14rem;
	border-radius: 5px;
	box-shadow: 5px 3px 5px 5px var(--shadow);
}

.menu ul li a {
	color: var(--textcol);
}

.search-results {
	display: none;
	background-color: var(--search-background);
	border-radius: 16px;
	margin-top: 3.4rem;
	margin-left: 0.4rem;
	position: absolute;
	width: 300px;
	height: 10rem;
	z-index: 2;
	max-height: calc(100vh - 80px);
	overflow-y: auto;
}

.search-results a {
	color: var(--textcol);
	display: block;
	padding: 0.01rem 1.5rem;
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: medium;
	text-decoration: none;
}

.search-results a:hover {
	background-color: var(--search-hover);
}