@import url('header/header.css');
@import url('main/main.css');

body {
	height: 100vw;
	display: flex;	
	flex-direction: column;
	font-family: sans-serif;
	background-color: var(--white);
	overflow: hidden
}

