* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
    --white: #fff;
	--blue: #0766c6;	
	--hover-blue: #0554a3;
}

.light {
    --background: var(--white);
	--shadow: rgba(0, 0, 0, 0.1);
	--btn: var(--blue);
	--btn-hover: var(--hover-blue);
	--outline: #ccc;
	--textcol: #000;
	--search-background:  #e8e8e8; 
	--search-hover: #dcdcdc; 
	--hover: rgb(245, 245, 245);
	--contactName: #333;
	--userName: rgb(80, 80, 80);
	--tags: rgba(22, 24, 35, 0.75);
	--left-btn: rgb(22, 24, 35);
	--icon-hover: rgb(230, 230, 230);
	--login-btn: var(--blue);
}

.dark {
    --background: #121212;
	/* --background: #2a2e35; */
    --shadow: rgba(255, 255, 255, 0.1);
    --btn: var(--blue);
    --btn-hover: var(--hover-blue);
    --outline: var(--white);
    --textcol: #f5f5f5;
    /* --search-background: #121212; */
	--search-background: #2a2e35;
    --search-hover: #616161;
    --hover: #2a2e50;
    --contactName: #f5f5f5;
    --userName: var(--white);
    --tags: rgba(255, 255, 255, 0.75);
    --left-btn: #f5f5f5;
    --icon-hover: white;
	--login-btn: var(--white);
}