.contacts-sidebar {
	display: flex;
	flex-direction: column;
	flex:0.2;
	top: 0;
	right: 0;
	width: 15rem;
	height: 90%;
	background-color: var(--background);
	border-left: 1px solid var(--outline);
}

.contacts-sidebar ul {
	display: initial;
	margin-block-start: initial;
	padding-left: 0rem;
	font-size: medium;
}

.contacts-sidebar li {
	padding-left: 1rem;
	padding-bottom: 2.5rem;
	font-size: medium;
}

.contacts-sidebar h1 {
	padding-left: 1rem;
	color: var(--contactName);
	font-size: 2.5rem;
}

.contacts-sidebar img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 1rem;
}

.contacts-sidebar a {
	width:auto;
	display: flex;
	align-items: center;
	font-size: medium;
	color: var(--contactName);
	text-decoration: none;
}

.contacts-sidebar a:hover {
	color: var(--textcol);
}