@import url('/src/css/base/body/header/header.css');
@import url('/src/css/base/body/main/main.css');

body {
	height: 100vw;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	background-color: white;
	overflow: hidden;
}